[Unit]
Description=2020 Vision Code
After=multi-user.target network-online.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /opt/2020vision/main.py

[Install]
WantedBy=multi-user.target
